

.Kategooriad{
    top: 0;
	height: 110vh;
	display: flex;
    background-color: bisque;
    flex-direction: column;
    float: left;
    margin-top: 80px;
    align-items: center;
    position: fixed;
    z-index: -1;

}


.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li{
    display: table-cell;
    vertical-align: left;
    height: 100%;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

.navigation a li:hover{
    color: #101010;
    font-weight: 600;
   }
   
   .navigation a:hover{
    background-color: olive;
   }

   .Menuu button{
    
    border: none;
    background-color: bisque;
    padding: 30px;
    color: black;
    align-items: stretch;
    cursor: pointer;
    list-style: none;
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
    
   }
   .Menuu button:hover{
       background-color: rgb(248, 214, 171);

   }

   .Kategooriad p {

       font-size: 28px;
       color: olive;
       font-family: 'Roboto Condensed', sans-serif;
       font-weight: 800;

   }
   .Parim{
       width: 100%;
       position: fixed;
       margin-top: 75px;
       margin-left: 280px;
       z-index: 50 ;
       font-size: 28px;
       color: olive;
       font-family: 'Roboto Condensed', sans-serif;
       font-weight: 800;

       
   }
   .ParimP{
    width: 100%;
    border-bottom: 5px solid darkkhaki;
   }

   .cord {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-left: 100px;
    text-align: center;
    font-family: arial;
    z-index: -1;
   }


  .price {
    color: grey;
    font-size: 22px;
  }
  
  .cord button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .cord button:hover {
    opacity: 0.7;
  }
  .koor {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-left: 500px;
    margin-top: -715px;
    text-align: center;
    font-family: arial;
    z-index: -1;
   }


  .price {
    color: grey;
    font-size: 22px;
  }
  
  .koor button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .koor button:hover {
    opacity: 0.7;
  }

  
  .kor {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-left: 900px;
    margin-top: -715px;
    text-align: center;
    font-family: arial;
    z-index: 1;
   }


  .price {
    color: grey;
    font-size: 22px;
  }
  
  .kor button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .kor button:hover {
    opacity: 0.7;
  }
  .coor {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-left: 1300px;
    margin-top: -715px;
    text-align: center;
    font-family: arial;
    z-index: -1;
   }


  .price {
    color: grey;
    font-size: 22px;
  }
  
  .coor button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .coor button:hover {
    opacity: 0.7;
  }
